*.d
*.exe
*.ilk
*.o
*.pdb
*~
./ja2-mod-*.bat
.DS_Store
.cproject
.project
.~lock.*#
/libgcc_s_dw2-1.dll
/libstdc++-6.dll
SDL.dll
TAGS
_build/solution-vs10e/Debug
_build/solution-vs10e/Release
ja2
ja2-last-strac
ja2-mod-from-russia-with-love.bat
ja2-mod-nightops-maps.bat
ja2.log
release-*
stderr.txt
stdout.txt
